<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

        <!-- Main style sheet for Japanese Woodblock -->
	<link rel="stylesheet" href="styles/ucsf_woodblock.css" type="text/css" media="screen" charset="utf-8">

	<!-- Style sheet drop down menus -->
	<link rel="stylesheet" href="styles/navigation_woodblock.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="styles/more_styles.css" type="text/css">
        <script src="styles/sfhover.js" type="text/javascript"></script>

<title>UCSF Japanese Woodblock Print Collection: About the Collection</title>
</head>

<body>

{% include header.html %}

<div class="clear"></div>

<div id="maincontent">

<table width="797" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="83" rowspan="3" align="right" valign="top">&nbsp;</td>
    <td width="474" height="29">&nbsp;</td>
    <td width="50">&nbsp;</td>
    <td width="190">&nbsp;</td>
  </tr>

  <tr>
    <td valign="top">
      <div class="p2">About the Collection</div>
      <br />
    
<p>The UCSF Japanese Woodblock Print Collection consists of four hundred
Japanese woodblock prints on health-related themes.  It is the largest collection of woodblock
prints related to health in the United States and an important component of the
Library's East Asian Collection.</p>

<p>In 1963, UCSF Provost and University Librarian, later Chancellor, John
B. de C. Saunders, M.D., started the East Asian Collection, which was then
developed over the next thirty years by Librarian/Curator Atsumi
Minami.  Mrs. Minami traveled to Japan and China and purchased items from
various smaller, private collections, acquiring the woodblock prints as well as
hundreds of rare Chinese and Japanese medical texts, manuscripts, and painted
scrolls.</p>

<p>The Japanese woodblock prints offer a visual account of Japanese
medical knowledge in the late Edo and Meiji
periods. The majority of the prints date to the mid-late nineteenth century,
when Japan
was opening to the West after almost two hundred and fifty years of self-imposed
isolation.</p>

<p>The prints are housed in the Library's <a href="http://www.library.ucsf.edu/collres/archives/">Archives and Special
Collections</a>. Rotating exhibits of the prints and other items from
the East Asian Collection appear in the first floor gallery of the Library.</p>

<p>In 2003, the California Digital Library funded the project to make digital images of the 
prints available online. The project involved translating titles of the prints into English, updating 
catalog information, digitally photographing the prints, and ingesting the metadata and digital 
images into the CDL's website <a 
href="http://www.calisphere.universityofcalifornia.edu/">Calisphere</a>.</p>

<a name="help"></a><h3>How to search the collection</h3>

<p>Enter one or more keywords (subject, artist's name, etc.) in the search
box and choose either "all terms" or "any terms."</p>

<p><b>Narrow your search</b>: Enter multiple keywords and choose "all
terms" for Boolean AND. Results will be returned only when ALL of the keywords
appear. For example: <b>measles smallpox</b> will <i>only</i> retrieve
items pertaining to <i>both</i> measles and smallpox.</p>

<p><b>Expand your search</b>: Enter multiple keywords
and choose "any terms" for Boolean OR.  For example: <b>measles smallpox</b> will retrieve items pertaining
to measles as well as those pertaining to smallpox.</p>

<p><b>Exact phrase</b>: Use quotes [&quot; &quot;] to search for
an exact phrase. For example: "<b>women's health</b>" "<b>Taiso, Yoshitoshi</b>"</p>

<p><b>Truncation</b>: An asterisk [*] can be used as a wildcard
to replace one or many characters. For example: <b>buddh*</b> will retrieve items
tagged as Buddha, Buddhism, and Buddhist.</p>



<h3>Website Credits and Acknowledgements</h3>


<p><b>UCSF Library staff</b>
<br />
Lisa Mix, Manager, Archives and Special Collections
<br />
Leslie Kleinberg, Project Manager
<br />
Gordon Lai, Programmer
<br />
Valerie Wheat, former Reference Archivist</p>


<p>We are grateful to the following UCSF Library staff for
their support of the&nbsp;project:
<br />
Karen Butter, University Librarian
<br />
Julia Kochi, Director, Digital Library and Collections
<br />
Kathleen Cameron, Manager, Digital Content Development
<br />
Jason Randell, Programmer</p>


<p><b>Theme essays</b>
<br />
Laura W. Allen, Ph.D., independent scholar and consultant,
Japanese art</p>

<p><b>English translations of print titles</b>
<br />
Yoshiko Kakudo, curator of Japanese art, emerita</p>


<p><b>California Digital Library staff</b>
<br />
Steve Toub
<br />
Brian Tingle
<br />
Craig Thompson
<br />
Eric Satzman
<br />
Robin Chandler</p>


<p><b>Website design</b>
<br />
Mission Minded</p>


<p><b>Digital photography</b>
<br />
Emily Lin, UC Merced</p>

<p><b>Cataloging and metadata</b>
<br />
UCSF Library staff</p>

<p><b>Funding</b> for the digitization of the UCSF Japanese Woodblock
Print Collection was provided by the California Digital Library.</p>

<h3>References</h3>
<p>It&#333; Ky&#333;ko,
"Disease Prevention Prints," <i>Daruma</i> 40 (10:4)
(Autumn 2003), pp. 13-33.</p>

<p>Jannetta, Ann Bowman, <i>Epidemics and Mortality in Early Modern Japan</i>
(Princeton:  Princeton University Press,
1987).</p>

<p>Rottermund, Hartmut
O., "Demonic Affliction or Contagious Disease? Changing Perceptions of Smallpox
in the Late Edo Period," <i>Japanese Journal of Religious Studies</i> 2001 (28:3-4), pp. 373-398.</p>

<p>Salter, Rebecca. <i>Japanese
Popular Prints. From votive slips to playing cards</i> (Honolulu:
University of Hawai'i Press, 2006).</p>

<p>Tanaka Y&#363;ko, "The Cyclical
Sensibility of Edo-Period Japan," <i>Japan Echo</i> 25:2 (April 1998), pp. 12-16.</p>

      <p>&nbsp;        </p>
    </td>
    <td valign="top">&nbsp;</td>
    <td valign="top">
        {% include sidenav.html %}
    </td>
  </tr>

  <tr>
    <td valign="top">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

</div>

{% include footer.html %}

</div> <!-- closes <div id="centered"> in header -->

</body>
</html>

