<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

        <!-- Main style sheet for Japanese Woodblock -->
	<link rel="stylesheet" href="styles/ucsf_woodblock.css" type="text/css" media="screen" charset="utf-8">

	<!-- Style sheet drop down menus -->
	<link rel="stylesheet" href="styles/navigation_woodblock.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="styles/more_styles.css" type="text/css">
        <script src="styles/sfhover.js" type="text/javascript"></script>

<title>UCSF Japanese Woodblock Print Collection: Drug Advertisements</title>
</head>

<body>

{% include header.html %}

<div class="clear"></div>

<div id="maincontent">

<table width="797" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="83" rowspan="3" align="right" valign="top">&nbsp;</td>
    <td width="474" height="29">&nbsp;</td>
    <td width="50">&nbsp;</td>
    <td width="190">&nbsp;</td>
  </tr>

  <tr>
    <td valign="top">
      <div class="p2">Drug Advertisements</div>
      <br />
      <div class="p3"><strong>by Laura W. Allen </strong><br />
      </div>
    
<div class="clear"></div>

<p>Over a third of the
woodblock prints in the UCSF collection are advertisements for medicines or
cosmetic products.  Along with many
plain, printed texts in this category are more than forty illustrated
advertisements.</p>

<p><a href="http://content.cdlib.org/ark:/13030/hb8z09p49f/?order=1&brand=woodblock"><img src="images/p276.png" class="top-left-image" width="290" height="205" /></a>One early example is a
diptych from the 1840s purveying a medicine called Goz&#333;en,
used for reducing dizziness, or <i>nobose</i>.  It contains an imaginative rendering of the
drug's powerful effect.  At left a man
sits drowsing against a wooden armrest, his eyes closed, a cloud of dizziness
emanating from his body to envelop the dream-like scene played out before
him.  There, a group of warriors,
representing the medicine, rout a bunch of half-naked demons personifying the
conditions causing dizziness: coughs, fever, and so on.  To the left of this scene is a helpful banner
informing viewers of the name and location of the Edo
shop where this wonder drug may be purchased.</p>

<p><a href="http://content.cdlib.org/ark:/13030/hb0p300683/?order=3&brand=woodblock"><img src="images/p278b.png" class="top-left-image" width="289" height="231" /></a>Two nineteenth-century
drugstore advertisements depict shop interiors as bustling places with ranks of
wooden drawers lining the walls, and a steady stream of customers coming to
purchase medicine.  In one, a
man scoops powdered drugs into a paper packet from a long trough of medicine,
in a shop identified by name as the Kawamuraya; the
shop's emblem is also emblazoned on round red paper fans shown being
distributed among the customers.
Both prints are themselves made in the form of
a fan, and they somehow survived their intended use, attached to a fan and
likewise given away as free advertising for the drugstores they portray.</p>

<p>Some of the most
fascinating drug advertisements are those employing popular <i>kabuki</i> actors to sell medicines &mdash; the
nineteenth-century equivalent of a Hollywood
actor being enlisted to market a brand of aspirin or cough suppressant. One
spectacular example is a triptych promoting a drug for children, published in
November 1880. At the center is a roundel containing the image of a
Western child, with curling black hair and deep red lips.  Above it is written the word Kinder-puwder, in capital letters; below, the Japanese characters
read "King of children's medicine, <i>Kindoru</i> powder."</p>

<p><a href="http://content.cdlib.org/ark:/13030/hb00000640/?order=1&brand=woodblock"><img src="images/p022.png" class="top-left-image" width="290" height="205" /></a>Red and white lines
radiate from this circle as a backdrop for two actors, identified as Ichikawa Danjuro (IX), in the role of the court lady Kunai no tsubone, and Onoe Kikugoro (V) as the warrior Takada Sannosuke
(author's note: this is curious, as Danjuro was not
known for his female roles, and the performance is not listed in standard
chronologies).  The text to their right
and left suggest that the drug company is the sponsor for this performance, now
playing at the Shintomiza theater.  The print simultaneously advertises both play
and medicine, and both the drug and the actors are "stars."</p>

      <div class="p3 float-left">1  <a href="drugads2.html">2</a> <a href="drugads2.html">next</a> &gt;&gt;</div><div class="p3 float-right"><a href="#">back to top</a></div>

      <p>&nbsp;        </p>
    </td>
    <td valign="top">&nbsp;</td>
    <td valign="top">
        {% include sidenav.html %}
    </td>
  </tr>

  <tr>
    <td valign="top">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

</div>

{% include footer.html %}

</div> <!-- closes <div id="centered"> in header -->

</body>
</html>

