<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

        <!-- Main style sheet for Japanese Woodblock -->
	<link rel="stylesheet" href="styles/ucsf_woodblock.css" type="text/css" media="screen" charset="utf-8">

	<!-- Style sheet drop down menus -->
	<link rel="stylesheet" href="styles/navigation_woodblock.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="styles/more_styles.css" type="text/css">
        <script src="styles/sfhover.js" type="text/javascript"></script>

<title>UCSF Japanese Woodblock Print Collection</title>
</head>

<body>

{% include header_nosearch.html %}

<div class="clear"></div>

<div id="indexcontent">
<table width="797" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="83" rowspan="3" align="right" valign="top">&nbsp;</td>
    <td height="29" colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td width="474" valign="top">
      <div class="phome">The UCSF Library&rsquo;s collection of Japanese woodblock prints illustrates a wide variety of health-related topics. The prints provide a window into traditional Japanese attitudes toward illness, the human body, women, religion, and the West.
            <br />
            <br />
         <form method="get" action="http://content.cdlib.org/search?">
           <input type="hidden" name="relation" value="ark:/13030/kt3t1nc589"/>
           <input type="hidden" name="style" value="cui"/>
           <input type="hidden" name="brand" value="woodblock"/>
           <input type="hidden" name="facet" value="type-tab"/>
           
           Search the collection
           <input name="keyword" type="text" size="10"/>
           <input value="Search" type="submit"/>
           <select name="keyword-join"><option value="and">All terms</option><option value="or">Any terms</option></select>
           <a href="about.html#help">?</a>
          </form>
      </div>
      <br />
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="460" height="194">
            <param name="movie" value="images/images.swf"/>
            <param name="quality" value="high"/>
            <param name="wmode" value="transparent"/>
            <embed src="images/images.swf" quality="high" wmode="transparent" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" width="460" height="194"></embed>
      </object>
      <script type="text/javascript" src="styles/ieupdate.js"></script>
    </td>

    <td width="50" valign="top">&nbsp;</td>
    <td width="190" valign="top">
        {% include sidenav.html %}
    </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td>&nbsp;</td>

    <td>&nbsp;</td>
  </tr>
</table>

</div>

{% include footer.html %}

</div>

</body>
</html>

