<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

        <!-- Main style sheet for Japanese Woodblock -->
	<link rel="stylesheet" href="styles/ucsf_woodblock.css" type="text/css" media="screen" charset="utf-8">

	<!-- Style sheet drop down menus -->
	<link rel="stylesheet" href="styles/navigation_woodblock.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="styles/more_styles_landing.css" type="text/css">
        <script src="styles/sfhover.js" type="text/javascript"></script>

<title>UCSF Japanese Woodblock Print Collection: Women's Health</title>
</head>

<body>

{% include header_landing.html %}

<div class="clear"></div>

<div id="theme_intro_content">
  <table width="797" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="83" rowspan="3" align="right" valign="top">&nbsp;</td>
      <td width="336" height="29">&nbsp;</td>
      <td width="47">&nbsp;</td>
      <td width="331">&nbsp;</td>
    </tr>

    <tr>
      <td width="336" valign="top"><div class="p2">Women's Health</div>
          <div class="p4"><br />
              <br />
A number of the prints
in the collection deal with women's health, including some vivid depictions of
pregnancy.  At the beginning of the Meiji era, the <i>bunmei kaika</i>, or "civilization and 
enlightenment" movement, introduced a more scientific outlook in many areas
of Japanese life, including attitudes toward pregnancy and childbirth.  Anatomical drawings from the West, available
widely for the first time, provided models for the representation of such
themes as the stages of fetal gestation.
            <br /><br />
             <a href="women1.html">Read More</a></div>
        </p>
        <p>&nbsp; </p></td>
      <td valign="top">&nbsp;</td>

      <td valign="top"><p class="style2"><a href="http://content.cdlib.org/search?relation=ark%3A%2F13030%2Fkt3t1nc589&amp;style=cui&amp;brand=woodblock&amp;facet=type-tab&amp;keyword=women%27s+female+pregnancy+childbirth&amp;keyword-join=or">See all Women's Health images</a></p>
          <table width="249" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="134" height="127" valign="top"><a href="http://content.cdlib.org/ark:/13030/hb929011fk/?order=1&brand=woodblock"><img src="images/p260-sm.png" border="0"/></a></td>
              <td width="115" valign="top"><a href="http://content.cdlib.org/ark:/13030/hb0g5005wm/?order=1&brand=woodblock"><img src="images/p047-sm.png" border="0"/></td>
            </tr>
            <tr>
              <td height="129" valign="top"><a href="http://content.cdlib.org/ark:/13030/hb6000099w/?order=1&brand=woodblock"><img src="images/p199-sm.png" width="109" height="105" border="0"/></a></td>

              <td valign="top"><a href="http://content.cdlib.org/ark:/13030/hb4v19p2cm/?order=1&brand=woodblock"><img src="images/p113-sm.png" width="109" height="105" border="0"/></a></td>
            </tr>
            <tr>
              <td valign="top"><a href="http://content.cdlib.org/ark:/13030/hb3t1nb49j/?order=1&brand=woodblock"><img src="images/p034-sm.png" width="109" height="105" border="0"/></a></td>
              <td valign="top"><a href="http://content.cdlib.org/ark:/13030/hb387007p3/?order=1&brand=woodblock"><img src="images/p259-sm.png" width="109" height="105" border="0"/></a></td>
            </tr>
          </table>
        <p class="style2">&nbsp;</p></td>
    </tr>

    <tr>
      <td valign="top">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>

{% include footer.html %}

</div> <!-- closes <div id="centered"> in header -->

</body>
</html>

