<!-- Library Cost Study 2025 -->
<script defer src="https://librarystudy.ucsf.edu/gsurvey.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WGZ62ECWD0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WGZ62ECWD0');
</script>

<div id="theme_intro_centered">
<div id="ucsf-banner-nav" class="no-logo">
  <div class="top-header-container row">
      <ul class="menu">
        <li class="first"><a href="http://www.ucsf.edu">University of California San Francisco</a></li>
        <li><a href="http://www.ucsfhealth.org/">UCSF Medical Center</a></li>
        <li><a href="http://www.ucsf.edu/search" title="">Search UCSF</a></li>
        <li><a href="http://www.ucsf.edu/about">About UCSF</a></li>
      </ul>
  </div>
</div>
  <a href="/"><img src="images/header.jpg" alt="UCSF Japanese Woodblock Print Collection" class="banner" /></a><div id="navcontainer">

<ul id="main_nav">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="about.html">About the Collection</a>
  </li>
  <li>
    <a href="intro1.html">View by Theme</a>
  	<ul>
	    <li><a href="intro1.html">Introduction</a></li>
	    <li><a href="contag.html">Contagious Disease</a></li>
	    <li><a href="drugads.html">Drug Advertisements</a></li>
	    <li><a href="foreign.html">Foreigners and Disease</a></li>
	    <li><a href="religion.html">Religion and Health</a></li>
	    <li><a href="women.html">Women&#146;s Health</a></li>
	  </ul>
  </li>
  <li>
    <a href="https://calisphere.org/collections/108/">View on Calisphere</a>
  </li>
  <li>
    <form method="get" action=" https://calisphere.org/collections/108/?">
      <input type="hidden" name="relation" value="ark:/13030/kt3t1nc589"/>
      <input type="hidden" name="style" value="cui"/>
      <input type="hidden" name="brand" value="woodblock"/>
      <input type="hidden" name="facet" value="type-tab"/>

      <input name="rq" type="text" aria-label="Search terms" size="15"/>
      <input value="Search" type="submit"/>
     </form>
  </li>
</ul>
</div>
