body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

a:link, a:visited, a:hover {
    color: #0071AD8;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.style1 {
    font-size: 18px
}

.style3 {
    color: #ffffff
}
