body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

a:link {
    color: #310608;
    text-decoration: underline;
}

a:visited {
    color: #310608;
    text-decoration: underline;
}

a:hover {
    color: #6e1015;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.style1 {
    font-size: 18px
}

.style3 {
    color: #ffffff
}
