@charset "ISO-8859-1";

#navcontainer {
    background-color: #052049;
    width: 800px;
    height: 39px;
    float: right;
}

#main_nav {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-top: .65em;
    padding-left: 80px;
    text-decoration: none;
}

#main_nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 1px;
    padding-left: 2px;
    text-decoration: none;
}

#main_nav a {
    display: block;
    color: white;
    text-decoration: none;
}

#main_nav li {
    line-height: 1.3em;
    padding: 0.1em 0.5em;
    float: left;
}

#main_nav li ul {
    position: absolute;
    left: -999em;
    width: auto;
    padding-right: 0.8em;
    clear: both;
    z-index: 100;

    /* This is where you style the drop down menu's, including font, color and spacing */

    text-indent: 1px;
    background-color: #052049;
}

#main_nav li ul li {
    float: none;
}

#main_nav li ul li:hover a, #main_nav li ul li.sfhover a {
    text-decoration: underline;
}

#main_nav li:hover ul, #main_nav li.sfhover ul {
    left: auto;
    background-position: 0 0;
}

#side_nav, side_nav li {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#side_nav a {
    display: inline;
    font-size: 1.0em;
    line-height: 2.0em;
    text-decoration: none;
}


