@charset "ISO-8859-1";

#navcontainer {
    background-image: url(../images/nav_back.jpg);
    background-repeat: no-repeat;
    width: 800px;
    height: 39px;
    float: right;
}

#main_nav {
    list-style-type: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    margin: 0;
    padding-top: .65em;
    padding-left: 80px;
    text-decoration: none;
}

#main_nav ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
    padding-top: 1px;
    padding-left: 2px;
    text-decoration: none;
}

#main_nav a {
    display: block;

    text-decoration: none;
}

#main_nav li {
    line-height: 1.3em;
    padding: 0.1em 0.3em;
    float: left;
}

#main_nav li ul {
    position: absolute;
    left: -999em;
    width: auto;
    padding-right: 0.8em;
    clear: both;
    z-index: 100;

    /* This is where you style the drop down menu's, including font, color and spacing */

    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    text-indent: 1px;
    background-color: #e0d9ad;
    color: #310608;
    border: 1px solid #6e1015;

}

#main_nav li ul li {
    float: none;
}

#main_nav li ul li:hover a, #main_nav li ul li.sfhover a {
    /* This is where you style the 'on mouse over' look of the individual drop down elements. */
    background-color: #e0d9ad;
    color: #397411;
    text-decoration: none;
}

#main_nav li:hover ul, #main_nav li.sfhover ul {
    left: auto;
    background-position: 0 0;
}

/* 
    Apparently this fixes a bug in IE7
    See: http://www.builtfromsource.com/2006/10/23/a-fix-for-suckerfish-dropdowns-in-ie-7/
*/
#main_nav li:hover, #main_nav li.sfhover {
    position: static;
}

#side_nav, side_nav li {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#side_nav a {

    display: inline;
    font-size: 1.0em;
    line-height: 1.5em;
    text-decoration: none;
}


