
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    color: #052049;
    background-color: #E6E9ED;
    margin: 0px;
    padding: 0px;
}

#centered {
    width: 800px;
    margin: 0px auto;
    background-color: white;
}

.banner {
    display: block;
    width: 100%;
    height: auto;
}

#theme_intro_centered {
    width: 800px;
    margin: 0px auto;
    background-color: #ffffff;
}

#maincontent, #indexcontent {
    width: 800px;
}

#theme_intro_content {
    width: 800px;
}

div.clear {
    clear: both;
    margin-bottom: 5px;
}

p, li.terms {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #052049;
    line-height: 25px;
}

.p2 {
    font-family: "Crimson Text", serif;
    font-size: 28px;
    color: #052049;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

h3 {
    font-family: "Crimson Text", serif;
    font-size: 22px;
    color: #052049;
}

div#footer {
    background-color: #052049;
    margin-top: 0px;
    padding-top: 0px;
    width: 800px;
    height: 44px;
}

div#footercontent {
    float: right;
    margin: 14px 20px;
}

div#footercontent a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


div#footerlogo {
    width: 200px;
    float: left;
    margin: 6px 20px;
}

div#footerlogo img {
    height: 32px;
}

.top-left-image-contag {
    float: left;
    margin: 0 0.1em 0.1em 0;
    border: none;
}

.top-right-image-contag {
    float: right;
    margin: 0 0 0.1em 0.1em;
    border: none;
}

.top-left-image {
    float: left;
    margin: 0 1.0em 1.0em 0;
    border: none;
}

.top-right-image {
    float: right;
    margin: 0 0 1.0em 1.0em;
    border: none;
}

.right-image {
    float: right;
    margin: 0.5em 0 1.0em 1.0em;
    border: none;
}
